$primary: #6e328c;
$white: #fff;
$black: #000;

$default-border: #1308170d;
$hover-border: #6e328c7a;
$active-border: #6e328c;
$error-border: #e8433d;

$border-shadow: #71308e1f;
$error-shadow: #e8433d1f;

$label-bg: #6e328c0f;
