@import "./select.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-weight: 500;
}
